/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$clr-blue: rgb(31, 200, 219);
$clr-blue-tr: rgba(31, 200, 219, 0.3);
$clr-gray: rgb(220, 220, 220);
$clr-gray-tr: rgba(220, 220, 220, 0.4);
$clr-gray-border: rgb(192, 183, 183);
$clr-white: rgb(255, 255, 255);
$clr-black: rgb(0, 0, 0);

@import "bulma";

* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("https://images.unsplash.com/photo-1510362753328-028a0e6b0e9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
  // background-image: url("../images/splashpagebground.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $clr-white;
  .page-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0px;
  }
}

.new-card {
  background-color: rgb(235, 229, 229);
  border: 1px solid $clr-black;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  position: relative;
  .title {
    position: absolute;
    padding: 0 10px;
    background-color: $clr-gray-tr;
    border-bottom: 1px solid $clr-gray-border;
    width: 100%;
    height: auto;
    line-height: 1.25em;
    display: flex;
    justify-content: space-between;
    left: 5px;
    top: 0;
    z-index: 1;
    .price {
      height: auto;
      width: auto;
      font-size: 0.5em;
    }
  }
  .image {
    position: relative;
    height: 175px;
    width: 100%;
    background-color: $clr-blue;
    border: 1px solid $clr-gray-border;
  }
  .description {
    height: 100px;
    border: 1px solid $clr-gray-border;
    overflow-y: auto;
  }
  .submit {
    display: flex;
    justify-content: center;
    // border: 1px solid red;
    width: 100%;
    height: 25px;
    input {
      padding: 2px 4px;
      border-radius: 5px;
      // background: $clr-gray;
      // color: $clr-white;
    }
  }
}

#nav {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: right;
  background-color: $clr-gray;
  margin-bottom: -4vw;
  h4,
  p {
    margin-top: 15px;
    a {
      position: relative;
      padding: 5px;
      display: block;
      color: $clr-blue;
      font-size: 1.5rem;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        top: 0.05em;
        bottom: 0.05em;
        left: 0.25em;
        right: 0.25em;
      }
      &::before {
        border-top: 1px solid $clr-white;
        border-bottom: 2px ridge $clr-white;
        border-radius: 5px;
        transform: scale(0, 1);
        transition: transform ease-out 250ms;
      }
      &:hover,
      &:focus {
        background-color: $clr-blue-tr;
        color: $clr-white;
        border-radius: 5px;
        &::before {
          transform: scale(1.05, 1);
        }
      }
    }
  }
}
#alerts {
  background-color: rgba(255, 255, 255, 0.6);
  color: red;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  bottom: 5;
  right: 5;
  overflow: visible;
}

// this is for devise fields
.row{
  width: 100%;
  
  display: flex;

}