<h1> Your Order </h1>

<table>
    <thead>
        <tr>
            <th>Title </th>
            <th>Description </th>
            <th>Price </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @tattoo.title %> </td>
            <td> <%= @tattoo.description %></td>
            <td> <%= number_to_currency @tattoo.price %></td>
        </tr>
    </tbody>
</table>
<button> Checkout Now </button>