<h1>Stores#index</h1>
<p>Find me in app/views/stores/index.html.erb</p>
<p>This is the right page</p>


<section class="new-card">
  <div class="title">
 <h1> Title <h1>
  <div class="price">
<p>$1000</p>
  </div>
  </div>

  <div class="image">
<img src="#" alt="image"></img>
  </div>

  <div class="description">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cum ullam consectetur minima, voluptatem deserunt nulla amet magnam, labore corrupti fuga architecto fugit, reprehenderit impedit adipisci maxime eius ea dicta.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cum ullam consectetur minima, voluptatem deserunt nulla amet magnam, labore corrupti fuga architecto fugit, reprehenderit impedit adipisci maxime eius ea dicta.
</p>
  </div>



  <div class="submit">
    <input>button</input>
  </div>
</section>


